@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Inter:wght@300;400;500;600;700&family=Lalezar&display=swap");

.font-playfair { font-family: var(--font-playfair); }
.font-inter { font-family: var(--font-inter); }
.font-lalezar { font-family: var(--font-lalezar); }